section.repository-list {
  max-width: 800px;
  margin: 60px auto;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    li {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
     
      & + li {
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }
}